div{
    a{
        text-decoration: none;
        color: #006AAF;
        background-color: white
    }
}

.img-fluid{
    width: 400px;
    height: auto;
}

.social-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .ig-logo{
        margin-left: 10px;
    }

    
}